@import "tailwindcss";
@import "@fontsource/inter";
*
{

  box-sizing: border-box;
  color: white;
   font-family: 'Inter', sans-serif;

}
body {
  background-image: url("https://imgix.bustle.com/scary-mommy/2019/06/things-to-do-in-modesto-with-kids.jpg?w=1200&h=630&fit=crop&crop=faces&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#root {
  width: 100%;
}